:root{
    --bg-body: #FBFBFE;
    --bg-principal: #1083D6;
    --border: 1px solid #EFF3F5;
    --container: #FFF;
    --txtcolor-principal: #FBFBFE;
    --article-color: #2A3B47;
    --txtcolor-casual: #1083D6;

    /* --bg-secondary: #4A4A4A; */
    --bg-body2: #192229;
    --bg-secondary: #194869;
    --border2: 1px solid #2A3B47;
    --container2: #212E36;
    --txtcolor-secondary: #EFF3F5;
    
}

.bg2{
    background-color: var(--bg-secondary);
}

*{
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html{
    position: relative;
    min-height: 100vh;
}

body{
    background-color: var(--bg-body);
}

header{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}

.navbar{
    width: 100%;
    background-color: var(--bg-principal);
    color: var(--txtcolor-principal);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar ul{
    display: flex;
    list-style: none;
    padding: 15px;
    align-items: center;
}

.navbar li{
    padding: 15px 20px;
    height: 5px;
    display: flex;
    align-items: center;
    border-right: 1px solid var(--txtcolor-principal);
}

.navbar li a{
    color: var(--txtcolor-principal);
    text-decoration: none;
    transition: all .5s ease-out;
    display: inline-block;
    position: relative;
}

.navbar li a::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(90deg, white, lightgrey);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.navbar li a:hover:after{
    transform: scaleX(1);
    transform-origin: bottom left;
}

.navbar li:last-child{
    border-right: unset;
}

.responsive{
    display: none;
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
}
  
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 17px;
    width: 17px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.principal_banner{
    margin-top: 65px;
    height: 50vh;
    position: relative;
}

.principal_banner > .arcodev, .principal_banner > .eslogan{
    color: var(--bg-principal);
    position: absolute;
    width: fit-content;
    left: calc(50% - 110px);
    width: 250px;
}

.principal_banner > .arcodev{
    top: 80%;
}

.principal_banner > .eslogan{
    top: 90%;
}

.principal_banner img{
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    z-index: 0;
}

.container{
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    gap: 50px 0;
}

article{
    background-color: var(--container);
    padding: 25px 50px;
    border: 1px solid var(--border-color);
    color: var(--article-color);
}

article #inicio{
    display: flex;
    justify-content: center;
    gap: 0 75px;
}

article #inicio > img{
    width: 50%; 
    object-fit: cover; 
    object-position: center;
}

article .section{
    display: flex;
    justify-content: center;
    gap: 0 50px;
}

article .section p{
    font-size: 18px;
    max-width: 400px;
}

article .section > img{
    width: 25%; 
    object-fit: cover; 
    object-position: center;
    border: var(--border);
    border-radius: 4px;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.4);
}

.lil-container{
    max-width: 500px;
}

.lil-container a{
    color: unset;
    transition: all .2s ease-in;
}

.lil-container a:hover{
    color: var(--txtcolor-casual);
}

.redes{
    display: flex; 
    gap: 0 20px;
}

.ing{
    color: var(--txtcolor-casual);
    text-shadow: 1px 1px 1px var(--txtcolor-casual);
    font-style: italic;
}

footer{
    background-color: var(--bg-principal);
    color: var(--txtcolor-principal);
    display: flex;
    /* flex-direction: column; */
    justify-content: space-around;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
    /* gap: 0 50vh; */
}

.arcodev{
    letter-spacing: 24px;
}

.eslogan{
    font-size: 10px;
    letter-spacing: 2.7px;
}

.titles{
    font-size: 35px;
}

.subtitles{
    text-decoration: underline;
}

.project{
    padding: 5px 5px 60px 5px;
    /*background-color: var(--bg-principal);*/
    /* border: var(--border); */
    border-radius: 4px;
    /* color: var(--txtcolor-principal); */
    position: relative;
    max-width: 50vh;
    transition: .2s;
    background-color: #EFEFEF;
    color: unset;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.5);
    min-width: 240px;
}

.project:hover{
    transform: scale(1.05);
}


.project img{
    max-width: 100%;
    border: var(--border);
}

.project #aTitle{
    font-size: 18px;
    display: block;
    /* text-align: start; */
    margin-top: 20px;
    margin-bottom: 20px;
    font-style: italic;
}

.project button{
    border: unset;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-radius: 0 0 4px 4px;
    /* background-color: var(--bg-secondary); */
    background-color: var(--bg-principal);
    color: var(--txtcolor-principal);
    padding: 5px;
    cursor: pointer;
}

.project button::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: 5px;
    left: 125px;
    background-image: linear-gradient(90deg, white, lightgrey);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.project button:hover:after{
    transform: scaleX(.25);
    transform-origin: bottom left;
}

.container-for-slider_container{
    position: relative;
    padding-right: 15vh;
    padding-left: 15vh;
}

.container-slider{
    width: 100%;
    height: 10vh;
    max-height: 1000px;
    position: relative;
    overflow: hidden;
}

/*.container-slider:hover > .slider_btn{
    opacity: 1;
}*/

.slider2{
    height: 100%;
    width: 260%;
    display: flex;
    /* padding-left: 2.5%; */
    /* margin-left: 25%; */
    margin-right: 25%;
    justify-content: center;
    position: absolute;
}

.slider_Section{
    width: 100%;
    display: flex;
    justify-content: center;
}

.sliderImg{
    display: block;
    width: 50%;
    height: 100%;
    /* object-fit: cover; */
}

.slider_btn{
    position: absolute;
    width: 40px;
    height: 40px;
    background: rgba(255, 255, 255, 0.5);
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    font-size: 30px;
    font-weight: bold;
    font-family: monospace;
    text-align: center;
    cursor: pointer;
/*    opacity: 0; */
}

.slider_btn:hover{
    background: orange;
}

.btn_left{
    left: 10px;
    position: absolute;
    text-align: center;
}

.btn_right{
    right: 10px;
    position: absolute;
    text-align: center;
}


.field {
    margin-bottom: 10px;
  }
  
  .field label {
    display: block;
    font-size: 12px;
    color: #777;
  }
  
  .field input {
    display: block;
    min-width: 250px;
    line-height: 1.5;
    font-size: 14px;
  }
  
  input[type="submit"] {
    display: block;
    padding: 6px 30px;
    font-size: 14px;
    background-color: #4460AA;
    color: #fff;
    border: none;
    border-radius: 4px;
  }



@media (max-width: 800px){
    .navbar ul li:first-child{
        padding: 15px 5px;
    }
    .navbar ul:last-child{
        display: none;
    }
    .arcodev{
        letter-spacing: 15px;
    }
    .eslogan{
        font-size: 10px;
        letter-spacing: 0.8px;
    }
    .responsive{
        display: block;
    }
    article{
        padding: 20px;
    }
    article #inicio{
        gap: 25px;
        flex-direction: column;
        align-items: center;
    }
    article #inicio > img{
        width: 50%;
    }
    .container{
        margin-top: 15px;
    }
    .redes{
        justify-content: center;
    }
    article .section{
        display: flex;
        justify-content: center;
        gap: 15px 0px;
        flex-direction: column;
        align-items: center;
    }
    article .section p{
        font-size: 14px;
        max-width: 400px;
    }
    article .section ol{
        margin: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }    
    article .section > img{
        width: 50%; 
        object-fit: cover; 
        object-position: center;
        border: var(--border);
        border-radius: 4px;
        box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.4);
    }
    .principal_banner > .arcodev, .principal_banner > .eslogan{
        color: var(--bg-principal);
        left: calc(50% - 80px);
    }
    .principal_banner{
        margin-top: 65px;
        height: 40vh;
        position: relative;
    }
    .project #aTitle{
        font-size: 15px;
        display: block;
        /* text-align: start; */
        margin-top: 20px;
        margin-bottom: 20px;
        font-style: italic;
    }
}